<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="mini project for Web Plus" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />
    
    <title>About Us</title>
    <!-- Add Bulma CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="hero is-large is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">About this site</h1>
                <h2 class="subtitle">This should be available for everyone to see</h2>
            </div>
        </div>
    </section>


</body>

</html>